{% extends 'index.html' %}
{% block title %}
            个人中心
{% endblock %}
{% block style %}
    <script src="/static/js/Personalcenter.js" type="text/javascript"></script>
    <script src="/static/js/layer/layer.js" type="text/javascript"></script>
{% endblock %}
{% block table %}
<table cellspacing="0">
    <tr class="Features">
        <td><img src="/static/images/shouye32.ico"></td>
        <td><p>首页</p></td>
    </tr>
    <tr class="Features" bgcolor="aqua">
        <td><img src="/static/images/geren32.ico"></td>
        <td><p>个人中心</p></td>
    </tr>
    <tr class="Features">
        <td><img src="/static/images/qianbao32.ico"></td>
        <td><p>钱包</p></td>
    </tr>
    <tr class="Features">
        <td><img src="/static/images/zhandan32.ico"></td>
        <td><p>账单</p></td>
    </tr>
    <tr class="Features">
        <td><img src="/static/images/tuichu32.ico"></td>
        <td><p>退出</p></td>
    </tr>
</table>
{% endblock %}
{% block div %}
    <div id="information">
        <img src="{{ images }}" alt="头像" id="imgId"/>
        <div>
            <div class="file-btn"><p>更改头像</p></div>
            <input type="file" class="service-file" id="file">
        </div>
        <table>
            <tr>
                <td class="biaoti"><p>邮箱 :</p></td>
                <td class="text1"><p>{{ username }}</p></td>
                <td class="gengai"><p>更改密码</p></td>
            </tr>
            <tr>
                <td class="biaoti"><p>账户余额 :</p></td>
                <td class="text2">{{ money }}</td>
                <td><a href="http://127.0.0.1:8000/wallet/">充值</a></td>
            </tr>
        </table>
        <div id="gengai">
            <div class="form-group">
                <label >旧密码</label>
                <input class="form-control" id="old_password" type="password" autocomplete="off" required="required"/>
            </div>
            <div class="form-group">
                <label>新密码</label>
                <input class="form-control" id="new_password" type="password" autocomplete="off" required="required"/>
            </div>
            <button type="submit" id="genbutton" class="btn-block pull-right">确认修改</button>
        </div>
    </div>
{% endblock %}