<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
</head>
<body οnlοad="pay_form.submit();">
<form id="pay_form" name="pay_form" action="https://gateway.test.95516.com/gateway/api/frontTransReq.do" method="post">
    <input type="hidden" name="version" id="version" value="5.1.0"/><input type="hidden" name="encoding" id="encoding"
                                                                           value="utf-8"/><input type="hidden"
                                                                                                 name="txnType"
                                                                                                 id="txnType"
                                                                                                 value="01"/><input
        type="hidden" name="txnSubType" id="txnSubType" value="01"/><input type="hidden" name="bizType" id="bizType"
                                                                           value="000201"/><input type="hidden"
                                                                                                  name="frontUrl"
                                                                                                  id="frontUrl"
                                                                                                  value="http://127.0.0.1:8000/pay/uni_back/"/><input
        type="hidden" name="backUrl" id="backUrl" value="http://127.0.0.1:8000/pay/uni_notify/"/><input type="hidden"
                                                                                                        name="signMethod"
                                                                                                        id="signMethod"
                                                                                                        value="01"/><input
        type="hidden" name="channelType" id="channelType" value="07"/><input type="hidden" name="accessType"
                                                                             id="accessType" value="0"/><input
        type="hidden" name="currencyCode" id="currencyCode" value="156"/><input type="hidden" name="merId" id="merId"
                                                                                value="777290058175192"/><input
        type="hidden" name="txnAmt" id="txnAmt" value="10000"/><input type="hidden" name="txnTime" id="txnTime"
                                                                      value="20191107120554"/><input type="hidden"
                                                                                                     name="certId"
                                                                                                     id="certId"
                                                                                                     value="68759663125"/><input
        type="hidden" name="orderId" id="orderId" value="CzuVFuanQ7x8"/><input type="hidden" name="signature"
                                                                               id="signature"
                                                                               value="UP/XwHk7nxDwQtNfp6Skqk7WHKAxfMqENKKbHxZcGVy7Jddil92BZhTiIlrjt/6tFrS0MqECi0ooPrwLmYauwNJJeIOWtRCV5snUh7inzCYqerjJTzeEKrzVDr63EQIT607MLQ8tIT2oYRJ0YK7m9H0rV/HMNSJih5TdEC6rNm3FflEtnsGZHmPAJJLa7lTbi9EhdtFOfLgLqRB2hZqF8m79ARKNfFfNC6VCrcDfPDiOELzQ7VUi4DJ+kfSktGDwdT2R5fL0mnGaZ+d03LJdL6blTl3GvZyLVTHYtBP2xp6U1DNV04U62Rc6D2V3A6Zg6CsfMCEbCkj1fIE8IWSh9A=="/>
    <!-- <input type="submit" type="hidden">--></form>
</body>
</html>